@model File_Interface_Simulator.Models.ErrorViewModel

@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        @Html.DisplayFor(model => model.ErrorMessage)
    </dl>
</div>
